body {
	box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	overflow: auto;
}

nav{
	display:flex;
}

nav ul {
	flex: 2;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul a{
	color: black;
	text-decoration-color: black;
	text-decoration: none;
}
a:hover{
	text-decoration:none;
}
li:hover{
	color:grey;
}
nav li {
	color:black;
	flex: 1;
    font-size: 25px;
    font-family: Inter;
    margin: 40px 110px;
}

header {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

.linia {
    width: 100%;
    height: 10px;
    background-color: #FFCACA;
}

footer{
	margin:0 0 0 -15%;
	background-color: #FFCACA;
	display:flex;
	align-items:center;
	justify-content: center;
	position: relative;
}

footer a img{
	flex:2;
	margin: 20% 0 0 50%;
	justify-content:space-between;
    display: flex;
    height: 100px;
    width: 100px;
}
.x{
		margin: 0 80% 25% 0;
	    background-color: #FFCACA;
}
.insta{
		margin: 0 80% 25% 0;
	    background-color: #FFCACA;
}
.fb{
		margin: 0 80% 25% 0;
	    background-color: #FFCACA;
}   
.strzala{
		margin: 0 80% 25% 0;
		    background-color: #FFCACA;
}
.back {
	    background-color: #FFCACA;
		width: 100%;
}
.back h1{
    font-size: 30px;
	margin:0 0 5% 35%;
	font-style: bold;
}

footer a{
margin: 0 0 0 20%;
}

footer h1 strong{
	background-color: #FFCACA;
	font-family: Courier New;
    color: black;
    font-size: 4px;
}

.baner{
	display:flex;
	align-items:center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	position: relative;
	width:100%;
}

.baner img {
    width: 100%;
    height: auto;
}

.baner h1 {
	flex: 2;
    font-family: Georgia;
    position: absolute;
    color: black;
    font-size: 60px;
	transform: translate(0%,-20%);
}

.corobi {
	display: flex;
	justify-content: space-around;
	margin: 0 0 0 200px;
}

.corobi .serv .reg p{
	margin:0 180px 0 0;
}

.corobi .serv .zab{
	margin:0 250px 0 0;
}

.corobi .serv .pro{
	margin:0 190px 0 0;
}


.corobi .serv img {
    height: 150px;
    width: 150px;
    display: inline;
    margin:0 0 0 50px;
}

.serv{
	flex: 2;
	margin: 0 120px 0 0;
}

.serv p{
	margin : 15% 25% 0 0;
    font-family: Helvetica;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.carousel-inner img {
    height: 600px;
    object-fit: cover;
    overflow: hidden;
}

.carousel-inner {
    width: 600px;
    margin: auto;
    display: flex;
}

.carousel-control-prev span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

h2 {
    text-align: center;
}
.zalog{
	text-align: right;
	margin: 0 0 0 70%;
}